<p>We all want to attend rallies, but we're concerned about giving away our
personal information online, especially in today's political climate.</p>

<p>So, this may help you get a ticket to a rally without having to give up your
information.</p>

Name: {{ name }}<br>
Email: <a href="https://www.mailinator.com/v3/index.jsp?zone=public&query={{ email }}#/#inboxpane">{{ email }}@mailinator.com</a><br>
Mobile number: {{ phone_number }} (<a href="/messages?phone_number={{ phone_number|urlencode }}">View messages</a> to verify number)<br>
Zip code: {{ zip_code }}<br>
State: {{ state }}<br>
